.feeds {
    background: purple !important;
    div.feed-title {
        position: absolute;
        margin: 0 auto;
        width: inherit;
        opacity: 0.5;
        background-color: rebeccapurple;
        color: white;
        font-size: large;
    }
}