loginModal {

.logo-container{
    text-align: center;
}
.logo-container ion-icon{
        font-size: 6em;
        color: cornflowerblue;
        margin-top: 10vh;
}
.logo-container h3{
        color: cornflowerblue;
}

.loginButton{
    width: 80%;
    margin: 50vh auto 0 auto;
    display: block;
}

}
