/* card meta */
.card__meta time {
	font-size: 1.5rem;
	color: #bbb;
	margin-left: 0.8rem;
}
.card__meta a {
	text-decoration: none;
}

.share-fab {
	float: right;
	position: relative;
	margin-top: -28px;
    margin-right: 13px;
    width: 48px;
    height: 48px;
}
	.share-icon:hover,
	.share-icon:focus {
		box-shadow: 
	  		0 3px 6px rgba(0,0,0, 0.12),
	    	0 3px 6px rgba(0,0,0, 0.24);

	    -webkit-transform: scale(1.2);
	    -moz-transform: scale(1.2);
	    -ms-transform: scale(1.2);
	    -o-transform: scale(1.2);
	    transform: scale(1.2);
	}


/* card article */
.card__article h2{
    font-weight: bold;
    margin-bottom: 14px;
}
.card__article p{
    color: gray;
}

.card__article a {
	text-decoration: none;
	color: #444;
	transition: all 0.5s ease;
}
	.card__article a:hover {
		color: #2980b9;
	}

