 
 .feedCard{
 .feed-title{
     position: absolute;
     margin: 0 auto;
     width: inherit;
     background-color: rebeccapurple;
     height: 5vh;
     background: rgba(0, 0, 0, 0.4);
     box-shadow: 0 4px 5px -1.5px black;
 }   
 
 .feed-title p{
     font-size:large;
     color: white;
 }
 
 .image-container{
     width: 53px;
    border-radius: 99em;
    border: 2px solid rebeccapurple;
    box-shadow: 0 1.5px 1px rgba(0, 0, 0, 0.3);
    position: relative;
    left: 77%;
    top: -30px;
 }
 
 .image-container img{
     width:50px;
     height:50px;
     border-radius:50%;
 }
 
 ion-card div.image{
     width: auto;
    height: auto;
    margin: 0 auto;
    max-height: 182px;
    overflow: hidden;
        border-bottom: 2px solid rebeccapurple;
 }
 
 
 .comment-box, .comment-box div.item-inner{
     padding-left:0;  
       padding-right: 0 !important;
 }
}